@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    color: #2f4e3c;
    font-family: 'Source Code Pro', monospace;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main {
    margin: 10rem;
}

footer {
    position: fixed;
    bottom: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 0;
    list-style: none;
}